@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
    --main-color: #37132d;
    --main-font: 'Playfair Display', serif;
    --secondary-font: 'Roboto', sans-serif;
}

/* Resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Nav Start */

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

ul li {
    list-style: none;
    display: inline;
}

ul li a {
    text-decoration: none;
    margin: 10px;
    color: #000;
    font-family: var(--secondary-font);
}

/* Nav End */

/* Section One Start */

.content__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.header__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.header__heading {
    font-size: 4rem;
    font-family: var(--main-font);
}

.header__sub-headings {
    width: 70%;
    font-family: var(--secondary-font);
    color: rgb(82, 82, 82);
    margin: 20px 0;
}

.header__img-container {
    width: 30%;
    height: 50vh;
    position: relative;
}

.img-one {
    position: absolute;
    left: 10rem;
}

.img-two {
    position: absolute;
    left: 3rem;
    top: 8rem;
}

.header__img {
    width: 200px;
    height: 300px;
}

.main-btn {
    padding: 10px 20px;
    text-decoration: none;
    background: var(--main-color);
    color: #fff;
    font-family: var(--secondary-font);
}

/* Section One End */

/* Experience Start */

.experience {
    height: 90vh;
    margin-left: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.experience-img {
    background: url(Img/eugene-chystiakov-taZSJ6xmt48-unsplash.jpg);
    background-size: cover;
    width: 300px;
    height: 350px;
    margin-left: 50px;
}

.gray-heading {
    color: gray;
    font-family: var(--main-font);
}

.btn-container {
    margin-top: 30px;
}

/* Experience End */